<%= render "shared/flash" %>

<h1>Weather</h1>

<%= form_with(method: 'get', local: true) do %>
    <%= label :address, "Address" %><br>
    <%= text_field_tag(:address, @current_address || @default_address, size: 70) %><br>
    <%= submit_tag("Lookup") %>
<% end %>

<% if defined?(@weather) %>
    <h3>Current Conditions:</h3>
    <ul>
        <li>Temperature: <%= @weather['currentConditions']['temp'].to_i %>F</li>
        <li>Feels Like: <%= @weather['currentConditions']['feelslike'].to_i %>F</li>
        <li>Chance of Precipitation: <%= @weather['currentConditions']['precipprob'] %></li>
        <li>From cache: <%= @cached_result %></li>
    </ul>
    <hr>
    <h3>Forecast</h3>
    <table>
        <tr>
            <th>Date</th>
            <th>High</th>
            <th>Low</th>
        </tr>
            <% @weather['days'].each do |day| %>
                <tr>
                <td><%= day['datetime'] %></td>
                <td><%= day['tempmax'].to_i %></td>
                <td><%= day['tempmin'].to_i %></td>
                </tr>
            <% end %>
    </table>

<% end %>